@font-face {
    font-family: "Oswald";
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Courgette";
    src: url(../fonts/Courgette-Regular.ttf);
}


.oswald {
    font-family: "Oswald";
}
.courgette {
    font-family: "Courgette";
}
.navbar-brand {
    font-family: "Courgette";
    margin: 0 0 0 1rem;
    font-size: 2rem
}
header {
    color: white;
}

.info img {
    width: 250px;
}

p.oswald {
    color: #6c757d;
}