.header-img {
    background-image: url("../img/articles/suzette/suzette-header.jpg");
    background-position: center;
}

header {
    background-color: inherit;
}

header h1 {
    background-color : rgba(0,0,0,0.7);
}

.p-f-l::first-letter{
  padding: 0 .3rem;
  margin: 0 .3rem 0 0;
  padding-left: 0;
  font-size: 5rem;
  float: left;
  line-height: 0.4;
  font-weight: bolder;
  color: #aeb1b4;
}

.profil-border {
    border-top: 1px solid #dfdede;
    border-bottom: 1px solid #dfdede;
}

